
@font-face {
  font-family: 'simhei';  /* project id 1881803 */
  src: url('//c1.boldseas.com/fonts/porshce/simhei.ttf')
}
@font-face {
  font-family: 'porscheNextBold';  /* project id 1881803 */
  src: url('//c1.boldseas.com/fonts/porshce/PorscheNext-Bold.ttf')
}
@font-face {
  font-family: 'porscheNext';  /* project id 1881803 */
  src: url('//c1.boldseas.com/fonts/porshce/PorscheNext-Regular.ttf')
}
@font-face {
  font-family: 'porscheNextThin';  /* project id 1881803 */
  src: url('//c1.boldseas.com/fonts/porshce/PorscheNext-Thin.ttf')
}