@charset "utf-8";
/* CSS Document */

* { padding: 0; margin: 0; }
li { list-style: none; }
body { background: #f6f9fc; }

.down_list { width: 200px; overflow: hidden; border: 1px solid #aab4bc; background: url(images/down_list_h2_bg.gif) repeat-x; margin: 50px auto 0; }
.down_list h2 { height: 25px; line-height: 25px; border: 1px solid #dee3e6; border-top: 1px solid #f3f5f7; padding-left: 10px; font-size: 14px; font-weight: normal; color: #57646e; cursor: pointer; }
.down { background: url(images/down.gif) no-repeat 180px center; }
.up { background: url(images/up.gif) no-repeat 180px center; }
.down_list ul { width: 200px; overflow: hidden; background: #e9edf2; font-size: 12px;display: none; }
.down_list li { width: 200px; float: left; }
.down_list a { display: block; line-height: 25px; padding-left: 10px; color: #6b7980; text-decoration: none; }
.down_list a:hover { background: #fff; text-decoration: underline; }




* { padding: 0; margin: 0; }
li { list-style: none; }
img { border: none; }
#message { width: 662px; margin: 10px auto 0; font: 12px arial; }
#message a { color: #333; text-decoration: none; }
#message a:hover { text-decoration: underline; }
#message .user { width: 160px; background: #e5edf2; border: 1px solid #cdcdcd; }
#message h2 { width: 146px; height: 36px; line-height: 36px; padding-left: 14px; margin-bottom: 10px; border-bottom: 1px dotted #cdcdcd; font-size: 12px; }
#message .user_wrap { width: 160px; padding-bottom: 30px; position: relative; }
#message .photo { width: 120px; margin: 0 auto 15px; text-align: center; }
#message .photo_content { width: 120px; margin: 0 auto 15px; text-align: center; position: relative; }
#message h3 { width: 120px; margin: 0 auto; font: 12px arial; }
#message .grade { width: 120px; height: 24px; margin: 8px auto 0; }
#message .user_related { width: 120px; line-height: 18px; margin: 0 auto; }
#message h4 { width: 60px; float: left; font-size: 12px; font-weight: normal; }
#message .user_related p { width: 60px; float: left; }

.clear { zoom:1; }
.clear:after { content: '\20'; display: block; clear: both; } 

#message .user_info { width: 450px; padding-bottom: 10px; position: absolute; top: -11px; left: -1px; border: 1px solid #cdcdcd; background: #fff; display: none; }
#message .user_pic { width: 160px; float: left; padding-top: 10px; }
#message .fun { width: 120px; margin: 0 auto; line-height: 16px; }
#message .fun li { padding-left: 20px; }
#message .email { background: url(images/pmto.gif) no-repeat; }
#message .add { background: url(images/addbuddy.gif) no-repeat; }
#message .info_list { width: 290px; float: left; }
#message dl { width: 290px; padding-top: 10px; }
#message dt { padding-bottom: 10px; }
#message dt a { font-weight: bold; }
#message dd { float: left; width: 145px; line-height: 20px; }
#message dd span { float: left; width: 72px; }
#message .ico { width: 290px; padding-top: 10px; }
#message .ico li { width: 16px; height: 16px; line-height: 16px; float: left; text-align: center; margin-right: 3px; }
