html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,input,textarea,
article,aside,audio,canvas,command,datalist,details,dialog,embed,figure,header,hgroup,keygen,mark,meter,nav,output,progress,rp,rt,ruby,section,source,time,video
{ border: none;
     margin: 0 ; padding : 0; border: 0; font-weight : inherit; font-style: inherit; font-size: 100% ;
     font-family: inherit ; vertical-align : baseline; list-style: none;
}
.clearfix:after  {content: "." ; display : block; height: 0; clear: both; visibility: hidden ;}
.clearfix        { display: inline-block;}
.clearfix        { display: block;}
a:link, a:visited {      text-decoration:none;}
a:hover, a:active {      text-decoration:none;}
a{ outline: none; *hide-focus: none;color :#006DDD;}
body,
html{
  overflow: hidden;
}
body{font-family: "\9ED1\4F53";font-size:12px;background:#fff;color:#000;}
input::-webkit-input-placeholder {color : #D9D9D9;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {-webkit-appearance : none !important;margin : 0 ;}
input,a{-webkit-tap-highlight-color : rgba(0,0,0,0);}



.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
.text{
  line-height: 30px;
  margin-top:30px;
}
